@model IEnumerable<GCW.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Members</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Last name
            </th>
            <th>
                First name
            </th>
            <th>
                Address
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Membership category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategory.MembershipCategoryNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
