@model IEnumerable<GCW.Models.ViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>  
  
<html>  
    <head>  
        <meta name="viewport" content="width=device-width" />  
        <title>Index</title>  
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />  
        <script type="text/javascript" src="@Url.Action("~/scripts/jquery-3.3.1.min.js")"></script>  
        <script type="text/javascript" src="@Url.Action("~/scripts/bootstrap.min.js")"></script>  
    </head>  
    <body>  
        <div class="container-fluid py-4">  
            <h4 class="text-center text-uppercase">Loaned DVDs</h4>   
            <br />
            <form asp-controller="LoanedDVDs" asp-action="Index" role="form"> 
                 <div style="display: flex; justify-content: space-between; width: 300px;">
                    <input style="width: 175px;" type="text" class="form-control" placeholder="Member last name" name="lastName"/>
                    <input style="width: 100px;" type="submit" class="btn btn-primary" value="Search" name="btnSubmit"/>
                </div>
            </form>
             <br />
            <table class="table table-striped table-bordered box-shadow shadow-lg">  
                <thead style="background-color: darkcyan;" class="text-white"> 
                    <tr>
                        <th>First name</th>  
                        <th>Last name</th>  
                        <th>DVD number</th>  
                        <th>Copy number</th>  
                        <th>Date out</th>  
                        <th>Date due</th>  
                        <th>Date returned</th>
                    </tr>  
                </thead>  
                <tbody>  
                    @foreach (var item in Model)  
                    {  
                        <tr>  
                            <td>@item.member.MemberFirstName</td>  
                            <td>@item.member.MemberLastName</td>  
                            <td>@item.dvdTitle.DVDNumber</td>  
                            <td>@item.dvdCopy.CopyNumber</td>  
                            <td>@item.loan.DateOut</td>  
                            <td>@item.loan.DateDue</td>  
                            <td>@item.loan.DateReturned</td>  
                        </tr>  
                    }  
                </tbody>  
            </table>  
        </div>  
    </body>  
</html>  
